@media (max-width: 1280px) {
  .img {
    display: none;
  }
}
@media (max-width: 1024px) and (min-width: 768px) {
  .food-heading-content2 {
    flex-wrap: nowrap; /* Запрещаем перенос на новую строку */
    justify-content: space-around; /* Распределяем блоки равномерно по ширине */
  }
}
@media (max-width: 767px) {
  .under-navigation{
 max-width: 1152px;
margin: 0 auto;
padding-top: 100px;
  display: none;
}
       .food-heading-content3 {
    flex-direction: column;
    text-align: center;
  }
}
@media (max-width: 1024px) {
  .nav-button {
    display: flex;
    position: fixed;
    top: 40px;
    margin: 0 auto;
    right: 40px;
    z-index: 10;
  }

  .nav-list {
    display: none;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #1b1b1b;
    z-index: 9;
    font-family: Gothic A1;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    width: 380px;
    padding: 30px 15px;
    font-size: 6vw;
    gap: 50px;
  }
  .nav-list.open {
    display: flex;
  }

}

@media (max-width:821px){
  .food-heading-content {
    flex-direction: column;
    text-align: center;
  }
  .food-heading {
    max-width: 100%;
    margin-bottom: 20px;
  }
  .Lorem-text {
    padding-bottom: 40px;
  }
  .food1-img {
    margin-bottom: 20px;
    order: -1;
  }

}


@media (max-width: 768px) {
      .footer-text h2 {
        font-size: 20px;
  }
      .footer-text p {
        font-size: 14px;
  }
      .footer-form input,
      .footer-form button {
        padding: 10px 15px;
        font-size: 14px;
  }
}
@media (max-width: 768px) {
  .footer-img-text ul {
    gap: 15px; /* Уменьшаем расстояние на маленьких экранах */
  }
}

@media (max-width: 640px) {
  .navigation button {
  margin: 0 0.3125em; 
  cursor: pointer;
  background: rgba(34, 34, 34, 1);
  width: 7px; 
  height: 7px; 
  padding: 0;
  overflow: hidden;
  display: none;
}
  .image-container {
    max-width: 100%;
  }
  .food-heading {
    text-align: center;
  }
  .food1-img {
    margin-bottom: 20px;
    order: -1;
  }
}
@media (max-width: 576px) {
      .footer-text h2 {
        font-size: 18px;
  }
      .footer-text p {
        font-size: 12px;
  }
      .footer-form {
        flex-direction: column; 
  }
      .footer-form input {
        border-radius: 3px 3px 0 0;
        text-align: left; 
  }
      .footer-form button {
        border-radius: 0 0 3px 3px;
  }
}

@media (max-width: 470px) {
  .header-heading {
    font-size: 40px;
  }
  .promo {
    font-size: 13px;
  }

}


