
.container {
  position: relative;
  max-width: 1152px;
  padding: 0px 15px;
  margin: 0 auto;
  box-sizing: content-box;
}
.header {
  padding-top: 29px;
  background: linear-gradient(
      287.15deg,
      #450e4b 0,
      #3c0c41 24.48%,
      rgba(207, 0, 99, 0) 100%
    ),
    #cf0063;
}
.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 60px;
}
.nav-list {
  display: flex;
  column-gap: 30px;
  font-size: 15px;
  font-weight: 400;
}

.nav-link {
  color: rgba(255, 255, 255, 1);
  font-family: Gothic A1;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: left;
}
.header-heading {
  color: rgba(255, 255, 255, 1);
  font-family: Gothic A1;
  font-size: 80px;
  font-weight: 400;
  line-height: 80px;
  letter-spacing: 0%;
  text-align: left;
}


.header-content {
  margin-top: 277.5px;
}
.button {
  margin-top: 10px;
  padding: 20px 45px;
  outline: none;
  border: none;
  background-color: rgba(252, 10, 126, 1);
  color: rgba(255, 255, 255, 1);
  font-family: Gothic A1;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: left;
  cursor: pointer;
}
.img {
  position: absolute;
  top: 85px;
  right: 0;
  padding-left: 60px;
  width: auto;
  height: auto;
  max-width: 50%;
  transition: width 0.3s ease;
}
.header-img2 {
  margin-top: 150px;
  padding: 30px;
  text-align: center;
  cursor: pointer; /* Показывает, что это кнопка */
}


.nav-button {
  outline: 0;
  padding: 0;
  border: 0;
  background-color: transparent;
  width: 30px;
  height: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  cursor: pointer;
  display: none;
  z-index: 9;
}
.nav-button::before,
.nav-button i,
.nav-button:after {
  width: 100%;
  content: "";
  height: 2px;
  background-color: azure;
  border-radius: 3px;
  transition: all 0.2s ease;
}
.nav-button.active i {
  display: none;
}
.nav-button.active:before {
  position: absolute;
  top: 9px;
  transform: rotate(45deg);
}
.nav-button.active:after {
  position: absolute;
  top: 9px;
  transform: rotate(-45deg);
}
