.container {
  position: relative;
  max-width: 1152px;
  padding: 0px 15px;
  margin: 0 auto;
  box-sizing: content-box;
}
.header {
  padding-top: 29px;
background: linear-gradient(287.15deg, #450e4b 0, #3c0c41 24.48%, rgba(207, 0, 99, 0) 100%), #cf0063;
}
.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 60px;
}
.nav-list {
  display: flex;
  column-gap: 30px;
  font-size: 15px;
  font-weight: 400;
}
.nav-item {
}
.nav-link {
  color: rgba(255, 255, 255, 1);
  font-family: Gothic A1;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: left;
}
.header-container-content {
 
}
.header-heading{
  color: rgba(255, 255, 255, 1);
font-family: Gothic A1;
font-size: 80px;
font-weight: 400;
line-height: 80px;
letter-spacing: 0%;
text-align: left;
}

.header-content p{
color: rgba(255, 255, 255, 1);
font-family: Gothic A1;
font-size: 30px;
font-weight: 400;
line-height: 44px;
letter-spacing: 0%;
text-align: left;
}
.header-content{
  margin-top: 277.5px;
}
button{
  margin-top: 10px;
  padding: 20px 45px;
  outline: none;
  border: none;
  background-color: rgba(252, 10, 126, 1);
  
color: rgba(255, 255, 255, 1);

font-family: Gothic A1;
font-size: 15px;
font-weight: 400;
line-height: 20px;
letter-spacing: 0%;
text-align: left;
cursor: pointer;
}
.img{
position: absolute;
top: 100px;
right: 0;
}
.header-img2{
  margin-top: 150px;
  padding: 30px;
text-align: center;
}